html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

#mainBox {
    width: calc(100% - 250px);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 2px solid black;
}
.buttonColors {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  border: 3px solid transparent;
  background-image: none;

}
#showGallery {
    color: black; 
    background-color: white; 
    border: 1px solid grey; 
    position: absolute; 
    right: 5px; 
    top: 5px;
    z-index: 1;
    width: 100px;
    cursor: pointer;
}
#galleryTitle {
    font-weight: bold;
    float: left;
    margin-left: 15px;
}
#galleryList {
    color: black; 
    background-color: white; 
    position: absolute; 
    right: 0; 
    bottom: 25px;
    width: 248px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}        
#galleryList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    display: inline-block;
}
#galleryList ul li{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: inline-flex;
}
#showData {
    color: black; 
    background-color: white; 
    border: 1px solid grey; 
    position: absolute; 
    right: 5px; 
    top: 25px;

    width: 100px;
    cursor: pointer;
}
#dataList {
    color: black; 
    background-color: white; 
    position: absolute; 
    right: 0; 
    top: 5px;
    width: 248px;
}
#dataListTitle {
    font-weight: bold;

    margin-left: 15px;
}
#dataList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
}
#dataList ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    padding-left: 15px;
}

#infoDiv {
    position: absolute;
    top: 15px;
    left: 60px;
}

#infoDiv input {
    border: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;

}

#redSeaInfo {
    position: absolute;
    top: 7px;
    right: 257px;
    /* width: 600px; 
    height: 250px; */
    width: 800px;
    height: 333px;
    border: 2px solid grey;
    background-color: white;
    background-image: url(images/Depths1.png);
    background-size: cover;
    display: none;
}

