html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

#mainBox {
    height: calc(100% - 30px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
}
#menuBar {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;;
  color: white;
  border-bottom: 2px solid #2fbfda;
  font-weight: bold;
  font-size: 18px;           
}
#pageTitle {
    height: 30px;
    position: absolute;
    left: 15px;
    top: 0;
    background-color: black;;
    color: white;
    font-weight: bold;
    font-size: 18px;           

}
.buttonColors {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  border: 3px solid transparent;
  background-image: none;

}

#showGallery {
    color: black; 
    background-color: white; 
    border: 1px solid grey; 
    position: absolute; 
    right: 5px; 
    top: 5px;
    z-index: 1;
    width: 100px;
    cursor: pointer;
}
#galleryTitle {
    font-weight: bold;
    float: left;
    margin-left: 15px;
}
#galleryBox, .galleryList {
    color: black; 
    background-color: white; 
    position: absolute; 
    right: 10px; 
    top: 35px;
    width: 248px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}        
#galleryBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    display: inline-block;
}
#galleryBox ul li{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: inline-flex;
}