body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mapid { 
    width: calc(100% - 280px); 
    height: calc(100% - 45px); 
    position: absolute;
    left: 10px;
    top: 30px;
    cursor: pointer;
}
#rightSide {
    position: absolute;
    top: 30px;
    width: 250px;
    right: 10px;
    bottom: 15px;
    background-color: #fff;
}
#titleHeader{
    position: absolute;
    top: 3px;
    left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  20px;
    color: #fff;
}
#rightTitle {
    position:absolute;
    left: calc(100% - 260px);
    top: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 10px;
    width: 240px;
    padding-bottom: 5px;
}
#rightContents {
    position:absolute;
    left: calc(100% - 260px);
    top: 60px;
    right: 10px;
    bottom: 15px;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #000;    
    padding: 5px;
}
#topMenu {
    position:absolute;
    top: 4px;
    right: 15px;
}
#layerList,
#findCircuit {
    margin: 10px 0 0 5px;
}

/* The CSS */
select {
    padding: 3px 3px 3px 8px;
    margin: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-image: url(images/15xvbd5.png); 
    background-repeat:no-repeat;
    background-position: right center;
    overflow: hidden;
    color:#fff;
    background-color: #000;
    border:1 solid white;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    min-width: 150px;
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

/*label {position:relative}
label:after {
    content:'<>';
    font:9px "Consolas", monospace;
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
}*/
/* Map scale overrides  */
.leaflet-control-scale-line {
    font-size: 9px;
    padding: 1px 2px 1px 5px;
    border-left: 1pt solid #999;
    border-right: 2px solid black;
    border-top: 1pt solid #999;
    border-bottom: 1pt solid #999;
    background-color: rgba(255,255,255,0.75);
    color: black;
    margin-left: 5px;
    -moz-box-shadow: 3px 3px 3px #666;-webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
}
.leaflet-control-scale-line:not(:first-child) {
    border-left: 1pt solid #999;
    border-right: 2px solid black;
    border-top: 1pt solid #999;
    border-bottom: 1pt solid #999;
    margin-top: 2px;
    -moz-box-shadow: 3px 3px 3px #666;-webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
}

table {
    font-size: 11px;
}

.dotMask10 {
    width:10px;
    height:10px;
    margin:5px 0 0 0;
    padding:0;
    font-size:10px;
}

.dotMaskImage10 {
    margin:0;
    width:10px;
    height:10px;
}

.dotMask16 {
    width:16px;
    height:16px;
    margin: 0;
    padding:0;
    font-size:10px;
}

.dotMaskImage16 {
    margin:0;
    width:16px;
    height:16px;
}

.dotMaskOpac65 {
    opacity: 0.5;
}

.colorKH {
    background-color: #cc00cc;
}

.colorAH {
    /*background-color: #ff0000;*/
    background-color: #996600;
}

.circuitNameOverlay {
    position: absolute;
    left: 0;
    top: 35px;
    right: 300px;
    display: none;
}

.circuitNameLabel {
    padding: 3px 20px 3px 20px;
    font-size: 16px;
    font-weight: bold;
    color: Black;
    background-color: #ffffff;
    opacity: 0.5;
    border: solid #000000 3px;
    border-radius: 5px;
}

.leaflet-control-zoom {
    margin-top: 55px!important;
}
    
.circuitBox {
    width: 10px;
    height: 10px;
    border: 2px solid #ff0000;
    background-color: rgba(255,0,0,0.25);
}

.congLabelMarker {
    height: auto!important;
    min-width: 50px;
    max-width: 250px;
    width: auto!important;
    text-align: center;
    color: #cc0000;
    font-size: 8px;
    font-weight: bold;
    white-space: nowrap;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}


.baseMapLiStyle,
.base-map-li {
  /*background-color: lightblue;*/
  /*font-size: 9px;*/
  cursor: pointer;
  font-family: Geneva,Arial,Helvetica,sans-serif;
  /*font-weight: bold;*/
  background: #006699;
  color: white;
  /*border: 1px solid gray;*/
}

#basemapUL .ui-selected,
#base-map-ul .ui-selected {
  background: #930099;
}

#basemapUL,
#base-map-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: x-small;
  width: 100%;
  padding-left: 10px;
}

#basemapUL li,
#base-map-ul li {
  float: left;
  margin: 5px 1px 5px 1px;
  padding: 2px;
  font-size: x-small;
  /*width: 145px;*/
  /*height: 133px;
    line-height: 60px;*/
}

.colorRed {
    background-color: #ff0000;
}
.colorBlue{
    background-color: #0000ff;
}
.colorGreen {
    background-color: #009900;
}
.colorOrange {
    background-color: #ff9900;
}
.colorMagenta {
    background-color: #ff00ff;
}
.colorPurple {
    background-color: #660099;
}
.colorTeal {
    background-color: #009999;
}
.colorBrown {
    background-color: #996600;
}
.colorYellow {
    background-color: #ffcc00;
}
.colorYellowGreen {
    background-color: #99ff00;
}

.colorBlack {
    background-color: #000000;
}

.colorRedViolet {
    background-color: #990066;
}

.colorGray {
    background-color: #999999;
}

.pinkRingBox {
    width: 16px;
    height: 16px;
    background-image: url(../../common/images/pink_ring.png);
}

.purpleRingBox {
    width: 16px;
    height: 16px;
    background-image: url(../../common/images/purple_ring.png);
}

.popupTable {
    background-color: #bbbbbb;
    font-size: 8pt;
}

.popupTable td {
    background-color: #ffffff;
}

.popupTable th {
    background-color: #dddddd;
    color: #333333;
    padding: 0px 3px 0px 3px;
}

.searchInput {
    width: 200px!important;
}

.coordsStyle {
    position: absolute;
    right: 275px;
    bottom: 1px;
    height: 12px;
    background-color: #000000;
    color: #ffffff;
    min-width: 200px;
    z-index: 899;
    padding: 0 1px 1px 0;
    font-size: 10px;
    text-align: center;
    display: block;
}

.timeLineBox {
    position: absolute;
    left: 10px;
    top: 30px;
    background-color: rgba(255,255,255, 0.75);
    border: rgba(255,255,255,0.9) solid 1px;
    padding: 5px;
    width: calc(100% - 290px); 
    z-index: 999;
    min-height: 30px;
}

.timeLineSlider {
    width: calc(100% - 10px); 
    margin: 5px;
    height: 6px;
    background-color: #e0e0e0;
}

.timeLineText {
    text-align: center;
    margin: 5px auto 2px auto;
    color: #999999;
}

.playButton {
    position: absolute;
    right: 15px;
    top: 30px;
    width: 14px;
    height: 14px;
    background-image: url(../../common/images/Play.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.pauseButton {
    position: absolute;
    right: 15px;
    top: 30px;
    width: 14px;
    height: 14px;
    background-image: url(../../common/images/Pause.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.backToStartButton {
    position: absolute;
    left: 15px;
    top: 30px;
    width: 14px;
    height: 14px;
    background-image: url(../../common/images/BackToStart.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.ui-slider .ui-slider-handle {
    width: 12px;
    height: 15px;
    background-color: #e0e0e0;
    border: 1px solid #999999;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-state-hover, .ui-widget-content .ui-state-hover  {
    background-color: #cccccc!important;
    border-color: #666666!important;
}

.colorCO2 {
    background-color: #0066ff;
}

.colorAHG {
    background-color: #ff4400;
}
